/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */
@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css);
/* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root {
    --main: #282c34;
    --primary: #f39c12;
    --secondary: #03a9f4;
    --tertiary: #4db6ac;
    --sidebarbackground: #21252b;
    --link: #f44336;
    --linkalt: #ff9800;
    --white: #FFFFFF;
}

/* Text styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: var(--main);
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white) !important;
}

.title {
    color: var(--white) !important;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: "Noto Sans", sans-serif !important;
}

#toc.toc2 a:link {
    color: var(--link);
}

blockquote {
    color: var(--tertiary) !important;
}

.quoteblock {
    color: var(--white);
}

code {
    color: var(--linkalt);
    background-color: var(--sidebarbackground) !important;
}

/* Table styles */
th,
td {
    background-color: var(--main);
}

th {
    color: var(--white) !important;
}

td {
    color: var(--linkalt) !important;
}

#toc.toc2 {
    background-color: var(--sidebarbackground);
}

#toctitle {
    color: var(--white);
}

/* Responsiveness fixes */
video {
    max-width: 100%;
}

@media all and (max-width: 600px) {
    table {
        width: 55vw !important;
        font-size: 3vw;
    }
}

.exampleblock>.content {
    background-color: var(--main);
}

a {
    color: var(--secondary);
}

.admonitionblock td.icon .icon-tip::before {
    text-shadow: none;
    color: var(--white);
}

.admonitionblock td.icon .icon-note::before {
    color: var(--tertiary);
}

.admonitionblock td.icon .icon-important::before {
    color: var(--link);
}

/* .admonitionblock td.icon .icon-caution::before {
    color: var(--linkcoloralternate);
} */

.admonitionblock td.icon .icon-warning::before {
    color: var(--primary);
}

#preamble>.sectionbody>.paragraph:first-of-type p {
    color: var(--white);
}

.quoteblock blockquote::before {
    color: var(--primary);
}

.quoteblock .attribution cite,
.verseblock .attribution cite {
    color: var(--white);
}

.verseblock pre {
    color: var(--white);
}

.quoteblock blockquote,
.quoteblock blockquote p {
    color: var(--white);
}

.sidebarblock {
    background: var(--sidebarbackground);
}

.literalblock pre,
.listingblock pre:not(.highlight),
.listingblock pre[class="highlight"],
.listingblock pre[class^="highlight "],
.listingblock pre.CodeRay,
.listingblock pre.prettyprint {
    background: var(--sidebarbackground);
    color: var(--white);
}

#header .details {
    color: var(--white);
}

#header .details span.email a {
    color: var(--linkalt);
}

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.5em;
}

.h3 {
    font-size: 1.17em;
}

.h4 {
    font-size: 1.00em;
}

.h5 {
    font-size: 0.83em;
}

.h6 {
    font-size: 0.67em;
}

.title {
    font-style: bold;
}

.rounded-img img {
    border-radius: 4px;
    padding: 4px;
}

.bg-common img {
    background-color: #00000050;
}

.stats img {
    width: 45%;
}